.car-comfort {
    width: 90%;
    display: flex;
    justify-content: center;
    height: 90%;
  }
  .card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-header img {
  max-width: 100%;
  height: 80%;
  margin-right: 10px;
}

.car{
  width: 57%;
}