
  .card-header {
 
 font-size: 1.5rem;
 font-family: "open sans", sans-serif;
 font-weight: 600;
 color: #646464;

}
h1,h3{
  padding-left: 10%;
  font-family: "open sans", sans-serif;
  font-weight: 600;
  color: #646464;
  margin-bottom: 0;
}

.card-header img {
  max-width: 100%;
  height: 80%;
  margin-right: 10px;
}

.car{
  width: 57%;
}