<div class="p-grid" class="">
  <div class="p-col">
    <ul class="p-d-flex p-flex-column p-m-0">
      <div class="p-grid">
        <div class="p-col">
          <h1>Models</h1>
          <ul>
            <li><a href=""  >A Class</a></li>
            <li><a href="" >B Class</a></li>
            <li><a href="">C Class</a></li>
            <li><a href="">E Class</a></li>
            <li><a href="">S Class</a></li>
            <li><a href="">GLA</a></li>
          </ul>
        </div>
        <div class="p-col">
          <h1>Search and Buy</h1>
          <ul class="p-d-flex p-flex-column p-m-0">
            <li><a href="">New Cars</a></li>
           <li><a href="">Used Cars</a></li>
           <li><a href="">Build and Price</a></li>
            <li> <a href="">Find a Dealer</a></li>

          </ul>
        </div>
        <div class="p-col">
          <h1>Inovations</h1>
          <ul >
            <li><a href="">Electric vehicles</a></li>
            <li><a href="">Hybrid vehicles</a></li>
            <li><a href="">Plug-in hybrid vehicles</a></li>

          </ul>
        </div>
        <div class="p-col">
          <h1>Service</h1>
          <ul >
            <li><a href="">Actual offers</a></li>
            <li><a href="">Mercedes-Benz Service</a></li>
            <li><a href="">Mercedes-Benz Financial Service</a></li>
          </ul>
        </div>
      </div>
      <div class="p-d-flex p-jc-center p-ai-center p-text-bold">
        &copy; 2023 Mercedes-Benz. All rights reserved.
      </div>
    </ul>
  </div>
</div>
