<div class="pb-5 px-3 pt-2">
<p-menubar [model]="items">
    <div>
        <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" placeholder="" optionLabel="name"></p-dropdown>
        <button type="button" pButton label="Login" icon="" style="margin-left:.5em"></button>
        <button pButton pRipple type="button" icon="pi pi-fw pi-shopping-cart"   (click)="visibleSidebar1 = true" class="p-button-text p-button-plain"></button>
    </div>
</p-menubar>
<p-sidebar  [(visible)]="visibleSidebar1" [baseZIndex]="10000" position="right" >
    <h1 style="font-weight:normal">Cart</h1>
    <p-panelMenu [model]="itemsModles" [style]="{'width':'300px'}"></p-panelMenu>
</p-sidebar>
</div>
