<app-filters></app-filters>
<h1 >Recommendations</h1>
<div class="p-card">
<div div class="p-grid">
<p-card class="p-col" *ngFor="let class of classes" [style]="{width: '360px'}"  >
    <ng-template pTemplate="header" >
        <img alt="Card" [src]="class.image">
    </ng-template>
    <p>{{class.bodyName}}</p>
    <ng-template pTemplate="footer">
        <p>{{class.description}}</p>
        <p-button class="flex justify-content-center " [label]="class.bodyName" icon="pi"></p-button>
       
    </ng-template>
</p-card>
</div>
</div>