<div>
  <p-card
    class="cardMain"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img class="cImg" alt="Card" [src]="car.image" />
    </ng-template>

    <ng-template pTemplate="footer">
      <h3>{{ car.model }}</h3>
      <p-button
        styleClass="p-button-danger"
        label="Remove"
        padding="10%"
        (click)="removeCar()"
        icon="pi pi-minus"
      ></p-button>
      <p-button
        padding="10%"
        (click)="showDialog();getDetailPictures()"
        label="Show Details"
      ></p-button>
      <p-dialog
        header="Details"
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        [resizable]="false"
      >
        <p class="m-0">
          <app-detailed-car [car]="car" [imageLeft]="imageLeft" [imageCenter]="imageCenter" [imageRight]="imageRight" ></app-detailed-car>
        </p>
      </p-dialog>
    </ng-template>
  </p-card>
</div>
