<div class="grid">
  <div class="col">
    <h2>Models</h2>
      <p-dropdown
        [options]="models"
        [(ngModel)]="selectedModel"
        placeholder="Select a Model"
        (click)="sendCarData(car)"
        (ngModelChange)="sendCarData(car)"
        optionLabel="model"
      ></p-dropdown>
      <h2>Car Price</h2>
      <input
        type="text"
        pInputText
        [(ngModel)]="carPrice"
        (ngModelChange)="sendCarData(car)"
      />
      <h2>Engine Size</h2>
      <input
        type="text"
        pInputText
        [(ngModel)]="selectedEngine"
        (ngModelChange)="sendCarData(car)"
      />
      <h2>Mileage</h2>
      <input
      type="text"
      pInputText
      [(ngModel)]="carMileage"
      (ngModelChange)="sendCarData(car)"
    />
    
  </div>
  <div class="col">
    <h2>Transmission</h2>
    <input
      type="text"
      pInputText
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="carTransmission"
      (ngModelChange)="sendCarData(car)" 
    />
    <h2>Year</h2>
    <input
      type="text"
      pInputText
      [(ngModel)]="carYear"
      (ngModelChange)="sendCarData(car)"
    />
    <h2>Engine Type</h2>
    <input
      type="text"
      pInputText
      [(ngModel)]="carFuel"
      (ngModelChange)="sendCarData(car)"
    />
    <h2>Car Features</h2>
    <p-button (click)="showDialog()" icon="pi pi-external-link" class="dialog" label="Select"></p-button>
    <p-dialog header="Header" [(visible)]="display" [style]="{width: '50vw'}">
        <div class="field-checkbox">
            <p-checkbox name="group1" [binary]="true"  (click)="sendCarData(car)" [(ngModel)]="airConditioning" inputId="ny"></p-checkbox>
            <label for="ny" >Air Contitioning</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" [binary]="true" (ngModelChange)="sendCarData(car)" [(ngModel)]="cruiseControl" inputId="ny"></p-checkbox>
            <label for="ny" >Cruise Control</label>
        </div>
        
        <div class="field-checkbox">
            <p-checkbox name="group1" [binary]="true" (click)="sendCarData(car)" [(ngModel)]="parkingSensors" inputId="ny"></p-checkbox>
            <label for="ny">Parking Sensors</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" [binary]="true" (click)="sendCarData(car)" [(ngModel)]="powerSteering" inputId="ny"></p-checkbox>
            <label for="ny">Power Steering</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" [binary]="true" (click)="sendCarData(car)" [(ngModel)]="powerWindows" inputId="ny"></p-checkbox>
            <label for="ny">Power Windows</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" [binary]="true" (click)="sendCarData(car)" [(ngModel)]="powerMirrors" inputId="ny"></p-checkbox>
            <label for="ny">Power Mirror</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" [binary]="true" (click)="sendCarData(car)" [(ngModel)]="ABS" inputId="ny"></p-checkbox>
            <label for="ny">ABS</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" [binary]="true" (click)="sendCarData(car)" [(ngModel)]="airbags" inputId="ny"></p-checkbox>
            <label for="ny">Air Bags</label>
        </div>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="display=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
  </div>
</div>
