<div class="p-grid">
  <div class="p-col">
    <h2>Models</h2>
      <p-dropdown
        [options]="models"
        [(ngModel)]="selectedModel"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Select a Model"
        (click)="sendCarData(car)"
        optionLabel="model"
      ></p-dropdown>
      <h2>Car Price</h2>
      <input
        type="text"
        pInputText
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="carPrice"
        (keypress)="sendCarData(car)"
      />
      <h2>Engine Size</h2>
      <input
        type="text"
        pInputText
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="selectedEngine"
        (keypress)="sendCarData(car)"
      />
      <h2>Mileage {{val2}}</h2>
      <input type="text" pInputText  [min]="0" [max]="150000" [(ngModel)]="val2" readonly />
      <p-slider [(ngModel)]="val2"  (keypress)="sendCarData(car)" ></p-slider>
    
  </div>
  <div class="p-col">
    <h2>Transmission</h2>
    <input
      type="text"
      pInputText
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="carTransmission"
      (keypress)="sendCarData(car)" 
    />
    <h2>Year</h2>
    <input
      type="text"
      pInputText
      [(ngModel)]="carYear"
      (keypress)="sendCarData(car)"
    />
    <h2>Engine Type</h2>
    <input
      type="text"
      pInputText
      [(ngModel)]="carFuel"
      (keypress)="sendCarData(car)"
    />
    <h2>Car Features</h2>
    <p-button (click)="showDialog()" icon="pi pi-external-link" class="dialog" label="Select"></p-button>
    <p-dialog header="Header" [(visible)]="display" [style]="{width: '50vw'}">
        <div class="field-checkbox">
            <p-checkbox name="group1" value="true" [(ngModel)]="airConditioning" inputId="ny"></p-checkbox>
            <label for="ny" (click)="sendCarData(car)">Air Contitioning</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" value="New York" [(ngModel)]="cruiseControl" inputId="ny"></p-checkbox>
            <label for="ny" (click)="sendCarData(car)">Cruise Control</label>
        </div>
        
        <div class="field-checkbox">
            <p-checkbox name="group1" value="New York" [(ngModel)]="parkingSensors" inputId="ny"></p-checkbox>
            <label for="ny">Parking Sensors</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" value="New York" [(ngModel)]="powerSteering" inputId="ny"></p-checkbox>
            <label for="ny">Power Steering</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" value="New York" [(ngModel)]="powerWindows" inputId="ny"></p-checkbox>
            <label for="ny">Power Windows</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" value="New York" [(ngModel)]="powerMirrors" inputId="ny"></p-checkbox>
            <label for="ny">Power Mirror</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" value="New York" [(ngModel)]="ABS" inputId="ny"></p-checkbox>
            <label for="ny">ABS</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group1" value="New York" [(ngModel)]="airbags" inputId="ny"></p-checkbox>
            <label for="ny">Air Bags</label>
        </div>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="display=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
  </div>
</div>
