<div class="grid p-shadow-1">
  <p-dropdown
    class="p-2"
    [options]="carMake"
    [(ngModel)]="selectedMake"
    placeholder="Make"
    (ngModelChange)="sendCarData(car)"
    (onChange)="loadModels(selectedMake)"
  ></p-dropdown>

  <p-dropdown
    class="p-2"
    [options]="models"
    [(ngModel)]="selectedModelRange"
    [disabled]="!selectedMake"
    placeholder="Model"
    (click)="sendCarData(car)"
  ></p-dropdown>
  <p-dropdown
    class="p-2"
    [options]="priceRange"
    [(ngModel)]="selectedPriceRange"
    [ngModelOptions]="{ standalone: true }"
    placeholder="Price"
    (click)="sendCarData(car)"
  ></p-dropdown>
  <p-dropdown
    class="p-2"
    [options]="transmissionRange"
    [(ngModel)]="selectedTransmissionRange"
    placeholder="Transmission"
    (click)="sendCarData(car)"
  ></p-dropdown>
  <p-dropdown
    class="p-2"
    [options]="yearRange"
    [(ngModel)]="selectedYearRange"
    placeholder="Year"
    (click)="sendCarData(car)"
  ></p-dropdown>
  <p-dropdown
    class="p-2"
    [options]="fuelRange"
    [(ngModel)]="selectedFuelRange"
    placeholder="Fuel"
    (click)="sendCarData(car)"
  ></p-dropdown>
  <p-dropdown
    class="p-2"
    [options]="mileageRange"
    [(ngModel)]="selectedMileageRange"
    placeholder="Mileage"
    (click)="sendCarData(car)"
  ></p-dropdown>
</div>
