
<div class="p-grid ">
  <div class="p-col-2">
    <h2>Models</h2>
    <p-dropdown
      [options]="models"
      [(ngModel)]="selectedModel"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Select a Model"
      (click)="sendCarData(car)"
      optionLabel="model"
    ></p-dropdown>
    <h2>Car Price</h2>
    <p-dropdown
      [options]="priceRange"
      [(ngModel)]="selectedPriceRange"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Select a Price"
      (click)="sendCarData(car)"
      optionLabel="label"
    ></p-dropdown>
    <h2>Mileage</h2>
    <p-dropdown
      [options]="mileageRange"
      [(ngModel)]="selectedMileage"
      placeholder="Select Mileage"
      (click)="sendCarData(car)"
      optionLabel="label"
    ></p-dropdown>
  </div>
  <div class="p-col-2">
    <h2>Transmission</h2>
    <p-dropdown
      [options]="mileageRange"
      [(ngModel)]="selectedMileage"
      placeholder="Select a Model"
      (click)="sendCarData(car)"
      optionLabel="label"
    ></p-dropdown>
    <h2>Year</h2>
    <p-dropdown
      [options]="yearRange"
      [(ngModel)]="selectedYearRange"
      placeholder="Select Year"
      (click)="sendCarData(car)"
      optionLabel="label"
    ></p-dropdown>
    <h2>Engine Type</h2>
    <p-dropdown
      [options]="fuelRange"
      [(ngModel)]="selectedFuelRange"
      placeholder="Select a Fuel"
      (click)="sendCarData(car)"
      optionLabel="label"
    ></p-dropdown>
  </div>
  <div class="p-col">
    <h2>Car Features</h2>
    <div class="field-checkbox">
      <p-checkbox
        name="group1"
        [binary]="true"
        (click)="sendCarData(car)"
        [(ngModel)]="airConditioning"
        inputId="ny"
      ></p-checkbox>
      <label for="ny">Air Contitioning</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox
        name="group1"
        [binary]="true"
        (ngModelChange)="sendCarData(car)"
        [(ngModel)]="cruiseControl"
        inputId="ny"
      ></p-checkbox>
      <label for="ny">Cruise Control</label>
    </div>

    <div class="field-checkbox">
      <p-checkbox
        name="group1"
        [binary]="true"
        (click)="sendCarData(car)"
        [(ngModel)]="parkingSensors"
        inputId="ny"
      ></p-checkbox>
      <label for="ny">Parking Sensors</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox
        name="group1"
        [binary]="true"
        (click)="sendCarData(car)"
        [(ngModel)]="powerSteering"
        inputId="ny"
      ></p-checkbox>
      <label for="ny">Power Steering</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox
        name="group1"
        [binary]="true"
        (click)="sendCarData(car)"
        [(ngModel)]="powerWindows"
        inputId="ny"
      ></p-checkbox>
      <label for="ny">Power Windows</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox
        name="group1"
        [binary]="true"
        (click)="sendCarData(car)"
        [(ngModel)]="powerMirrors"
        inputId="ny"
      ></p-checkbox>
      <label for="ny">Power Mirror</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox
        name="group1"
        [binary]="true"
        (click)="sendCarData(car)"
        [(ngModel)]="ABS"
        inputId="ny"
      ></p-checkbox>
      <label for="ny">ABS</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox
        name="group1"
        [binary]="true"
        (click)="sendCarData(car)"
        [(ngModel)]="airbags"
        inputId="ny"
      ></p-checkbox>
      <label for="ny">Air Bags</label>
    </div>
    <p-button label="Search" icon="pi pi-search"></p-button>
  </div>
</div>
