
<div class="p-grid p-shadow-1 ">
  <div class="p-col-3 ">
  </div>
  <div class="p-col-2 " >
    <h2>Models</h2>
    <p-dropdown
      [options]="models"
      [(ngModel)]="selectedModel"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Select a Model"
      (click)="sendCarData(car)"
      optionLabel="model"
    ></p-dropdown>
    <h2>Car Price</h2>
    <p-dropdown
      [options]="priceRange"
      [(ngModel)]="selectedPriceRange"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Select a Price"
      (click)="sendCarData(car)"
      optionLabel="label"
    ></p-dropdown>

  </div>
  <div class="p-col-2">
    <h2>Transmission</h2>
    <p-dropdown
      [options]="transmissionRange"
      [(ngModel)]="selectedTransmissionRange"
      placeholder="Select Transmission"
      (click)="sendCarData(car)"
      optionLabel="label"
    ></p-dropdown>
    <h2>Year</h2>
    <p-dropdown
      [options]="yearRange"
      [(ngModel)]="selectedYearRange"
      placeholder="Select Year"
      (click)="sendCarData(car)"
      optionLabel="label"
    ></p-dropdown>
  </div>
  <div class="p-col-2">
    <h2>Fuel Type</h2>
    <p-dropdown
      [options]="fuelRange"
      [(ngModel)]="selectedFuelRange"
      placeholder="Select a Fuel"
      (click)="sendCarData(car)"
      optionLabel="label"
    ></p-dropdown>
  <h2>Mileage</h2>
  <p-dropdown
    [options]="mileageRange"
    [(ngModel)]="selectedMileage"
    placeholder="Select Mileage"
    (click)="sendCarData(car)"
    optionLabel="label"
  ></p-dropdown>
</div>
</div>
