<div class="p-grid">
  <div class="col-3">
    <h1>Settings</h1>
<app-car-form (carEventEmmiter)="setCar($event)"></app-car-form>
  </div>
  <div class="p-col">
    <div class="p-grid">
      <div class="p-col">
        <p-image
          src="https://imgd.aeplcdn.com/0x0/n/cw/ec/48067/s-class-exterior-right-front-three-quarter-3.jpeg"
          alt="Image"
          width="100%"
        ></p-image>
      </div>
      <div class="p-col">
        <h2>Model</h2>
        <h3>{{car.model}}</h3>
        <h2>Car Price</h2>
        <h3>{{car.price}}</h3>
        <h2>Engine Size</h2>
        <h3>{{car.engineSize}} cc</h3>
        <h2>Mileage</h2>
        <h3>{{car.mileage}}</h3>
        <button
          pButton
          type="button"
          lable="Success"
          iconPos="left"
          class="p-button-success"
        >
          Add
        </button>
        <p-button (click)="showDialog()" icon="pi pi-external-link" class="dialog" label="Preview"></p-button>
        <p-dialog header="Header" [(visible)]="display" [style]="{width: '50vw'}">

            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="display=false" label="Ok" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-dialog>
      
      </div>
      <div class="p-col">
        <h2>Transmission</h2>
        <h3>{{car.transmission}}</h3>
        <h2>Year</h2>
        <h3>{{car.year}}</h3>
        <h2>Engine Type</h2>
        <h3>{{car.fuel}}</h3>
        <h2>Car Features</h2>
       
        <h3>{{equipment.airConditioning}}</h3>
      </div>
    </div>
  </div>
</div>
<h1>Car Description</h1>
