<div class="grid">
  <div class="col-3">
    <h1>Settings</h1>
  </div>
  <div class="col">
    <h1>Preview</h1>
    <div class="grid">
      <div class="col">
        <p-image
          src="https://imgd.aeplcdn.com/0x0/n/cw/ec/48067/s-class-exterior-right-front-three-quarter-3.jpeg"
          alt="Image"
          width="100%"
        ></p-image>
      </div>
      <div class="col">
        <h2>Car Name</h2>
        <h3>S class</h3>
        <h2>Car Price</h2>
        <h3>60000 €</h3>
        <h2>Engine Size</h2>
        <h3>3000 cc</h3>
        <h2>Car Location</h2>
        <h3>Maribor</h3>
      </div>
      <div class="col">
        <h2>Transmission</h2>
        <h3>AWD</h3>
        <h2>Body Type</h2>
        <h3>Limousine</h3>
        <h2>Engine Type</h2>
        <h3>Disel</h3>
        <h2>Car Features</h2>
        <h3>Heather,leather</h3>
      </div>
     
    </div>
  </div>

</div>
<h1>Car Description</h1>
